@import url('https://fonts.googleapis.com/css?family=Noto+Sans');

* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

body {
	font-family: 'Noto Sans', sans-serif;
}

#site {
	display: grid;
	grid-template-columns: 260px 1fr;
	grid-template-rows: 30px 40px auto 30px;
	grid-template-areas:
		"header header"
		"nav toolbar"
		"nav main"
		"nav footer";
	height: 100vh;
	width: 100vw;
}

.site-header {
	grid-area: header;

	background-color: green;
	color: white;
	text-align: center;
}

.site-nav {
	grid-area: nav;

	background-color: #111;
	overflow-x: hidden;
}
.site-nav a {
	color: white;
	padding: 16px;
	text-decoration: none;
	display: block;
}
.site-nav a:hover {
	background-color: #ddd;
	color: black;
}

.site-toolbar {
	grid-area: toolbar;
	display: flex;
	flex-direction: row;
	justify-content: flex-end;
}

.site-toolbar-refresh {
	display: inline-block;
	width: 40px;
	height: 40px;
	background: url(static/refresh.svg);
	background-size: 24px 24px;
	background-position: center;
	background-repeat: no-repeat;
	vertical-align: middle;
}
.site-toolbar-refresh:hover {
	background-color: grey;
}

.site-main {
	grid-area: main;
	overflow: auto;
}

.site-footer {
	grid-area: footer;
}

.details-content {
	background-color: #f1f1f1;
	display: inline-flex;
	flex-direction: column;
	padding: 5px;
}
.details-description {
	flex-grow: 1;
}
.details-bar {
	display: flex;
	flex-direction: row;
	justify-content: flex-end;
}
.details-footer {
	font-size: 10px;
}

.brief {
	padding: 10px;
	background-color: grey;
	color: white;
	display: flex;
	flex-direction: row;
	width: 100%;
}
.brief:hover {
	background-color: green;
}
.brief-read {
	background-color: lightgrey;
}
.brief-channel {
	width: 100px;
	min-width: 100px;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}
.brief-title {
	margin-left: 10px;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}
.brief-date {
	margin-left: auto;
	padding-left: 4px;
}


